<div class="col-md-4 mx-auto my-5">
    <div class="card text-center border-white">
        <div class="card-header bg-transparent border-white">
            <h3>Editar producto</h3>
        </div>
        <div class="card-body">
            <form action="/products/edit/{{product._id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <div class="form-group">
                    <input type="text" name="name" class="form-control" placeholder="Nombre del producto" value="{{product.name}}" autofocus>
                </div>
                <div class="form-group">
                    <textarea name="description" class="form-control" , placeholder="Description">{{product.description}}</textarea>
                </div>
                <div class="form-group">
                    <input type="decimal" step='any' name="price" class="form-control" placeholder="Precio" value="{{product.price}}"><br>
                </div>
                <label for="category" class="text-left align-left">Elige una categoria:</label>
                <select id="category" name="category" class="text-left">
                    <option value="bebidas_frias">Bebidas Frías</option>
                    <option value="bebidas_calientes">Bebidas Calientes</option>
                    <option value="carnes">Carnes</option>
                    <option value="pastas">Pastas</option>
                </select>
                <div class="form-group">
                    <br>
                    <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>