<style>
    body {
        background: #007bff;
        background: linear-gradient(to right, #04bcd4, #1680f8);
        color: black;
    }
</style>

<div class="col-md-4 mx-auto my-5">
    <div class="card text-center border-white">
        <div class="card-header bg-transparent border-white">
            <h3>Agregar producto</h3>
        </div>
        <div class="card-body">
            <form action="/products/new-product/{{id}}" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="text" name="name" class="form-control" placeholder="Nombre del producto" id="name" required
                        autofocus>
                </div>
                <div class="form-group">
                    <textarea name="description" class="form-control" , placeholder="Description" required></textarea>
                </div>
                <div class="form-group">
                    <input type="number" name="price" class="form-control" placeholder="Precio" required><br>
                </div>

                <div class="d-block text-left">
                    <label for="category" class="text-left align-left">Elige una categoria:</label>
                    <select id="category" name="category" class="text-left" required>
                        <option selected disabled value="---">Selecciona una</option>
                        {{#each categories}}
                        <option value="{{categoryName}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>

                <label class="text-left d-block label-text mt-3">Selecciona una foto</label>
                <div class="input-group mb-2">
                    <div class="custom-file">
                        <input type="file" name="image" class="custom-file text-muted p-1" accept="image/*"
                            onchange="loadImage(event)">
                    </div>
                </div>
                <div class="container p-3">
                    <img class="imgloaded" id="output" width="100%">
                </div>

                <div class="form-group py-2">
                    <button type="submit" class="btn btn-primary btn-block" onclick="sendImg()" id="button-send">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="/js/preloadImages.js"></script>