<style>
    body {
        background: #007bff;
        background: linear-gradient(to right, #04bcd4, #1680f8);
        color: black;
    }

    .label-text {
        font-size: 14px;
    }
</style>


<div class="col-md-4 mx-auto my-5 py-5">
    <div class="card text-center border-white">
        <div class="card-header bg-transparent border-white">
            <h3>Editar categoría</h3>
        </div>
        <br>
        <div class="card-body text-left">
            <form action="/category/edit/{{category._id}}?_method=PUT" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="_method" value="PUT">
                <div class="form-group py-2">
                    <label class="text-left label-text" for="exampleInputEmail1">Ingresa el nuevo nombre de la
                        categoría</label>
                    <input id="name" type="text" name="name" class="form-control" placeholder="ej: Bebidas Calientes" value="{{category.name}}" required
                        autofocus>
                </div>
                <label class="text-left label-text">Selecciona una nueva foto</label>
                <div class="input-group mb-2">
                    <div class="custom-file">
                        <input type="file" name="image" class="custom-file text-muted p-1" accept="image/*"
                            onchange="previewImage(event)">
                    </div>
                </div>
                <div  class="container p-2">
                    <img id="img-old" src="{{category.img}}" alt="{{category.name}}" width="100%">
                </div>
                <div class="container p-3">
                    <img src="" class="imgloaded" id="output" width="100%">
                </div>
                <div class="form-group py-2">
                    <button type="submit" class="btn btn-primary btn-block" onclick="sendImg()" id="button-send">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/preloadImages.js"></script>