<div class="container my-3"
    style="position: absolute; z-index: 1001; margin: auto; top:0; left:0; right:0; padding-top: 2cm;">
    <div class="row">
        <div class="py-5 my-3 col-md-6 text-center justify-content-center align-self-center">
            <h1 class="display-4" style="color: white;">El menú digital que necesitas </h1>
            <p class="header-text-content my-5"
                style="font-family: roboto; font-weight: 100; font-size: 26px; color: rgb(177, 212, 252)">Crea y
                admistra tu menú digital de manera sencilla. Tus clientes solo tienen que escanear un código QR desde su
                celular.
            </p>
            <a href="/signup" class="btn btn-success my-2 my-sm-0 mx-1" style="font-size: 20px;">Registrarse</a>

        </div>
        <div class="py-5 col-md-6 imagen_svg">
            <img src="/img/qr_code(3).svg" alt="Imagen" class="iimg-fluid d-none d-sm-block" width="90%">
        </div>
    </div>
</div>
<section>
    <div class="wave"></div>
</section>

<div class="container text-center margin-auto" id="beneficios">
    <br>
    <h1 class="container">Conoce los beneficios de usar <span style="color: #0029ff;">menup</span></h1>
</div>
<br>
<br>
<div class="container">
    <div class="card-deck border-white" style="border: none">

        <div class="card container border-white" style="box-shadow: none;">
            <div class="card border-white mb-3 container" style="max-width: 18rem;">
                <div class="card-header bg-transparent border-success"> <svg class="container" width="3em" height="3em"
                        viewBox="0 0 16 16" class="bi bi-people-fill" fill="#0366faf1"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
                    </svg></div>
                <div class="card-body text-center">
                    <h5 class="card-title" style="font-family: roboto; font-decoration: bold; font-size: 23px;">
                        Seguridad para tu equipo y tus clientes</h5>
                    <br>
                    <p class="card-text" style="font-family: roboto; font-weight: 100; font-size: 17px;"> Olvídate de
                        las cartas físicas, ofrece a tus clientes y a tu equipo las mejores condiciones de higiene
                        evitando el contacto físico.</p>
                </div>
            </div>
        </div>

        <div class="card container border-white"  style="box-shadow: none;">
            <div class="card border-white mb-3 container" style="max-width: 18rem;">
                <div class="card-header bg-transparent border-success"> <svg class="container" width="3em" height="3em"
                        viewBox="0 0 16 16" class="bi bi-people-fill" fill="#0366faf1"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M13.5 3h-11a.5.5 0 0 0-.5.5V11h12V3.5a.5.5 0 0 0-.5-.5zm-11-1A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2h-11z" />
                        <path d="M0 12h16v.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5V12z" />
                    </svg></div>
                <div class="card-body text-center">
                    <h5 class="card-title" style="font-family: roboto; font-decoration: bold; font-size: 23px;">
                        Tu menú siempre actualizado</h5>
                    <br>
                    <p class="card-text" style="font-family: roboto; font-weight: 100; font-size: 17px;">
                        Agrega y elimina platillos cuando lo desees, si se agotan los insumos de un platillo lo puedes
                        ocultar para que tus clientes no lo pidan.
                    </p>
                </div>
            </div>
        </div> 

        <div class="card container border-white"  style="box-shadow: none;">
            <div class="card border-white mb-3 container" style="max-width: 18rem;">
                <div class="card-header bg-transparent border-success"> <svg class="container" width="3em" height="3em"
                        viewBox="0 0 16 16" class="bi bi-people-fill" fill="#0366faf1"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M8 0a.5.5 0 0 1 .416.223l3 4.5A.5.5 0 0 1 11 5.5h-.098l2.022 3.235a.5.5 0 0 1-.424.765h-.191l1.638 3.276a.5.5 0 0 1-.447.724h-11a.5.5 0 0 1-.447-.724L3.69 9.5H3.5a.5.5 0 0 1-.424-.765L5.098 5.5H5a.5.5 0 0 1-.416-.777l3-4.5A.5.5 0 0 1 8 0z" />
                        <path d="M7 13h2v3H7v-3z" />
                    </svg></div>
                <div class="card-body text-center">
                    <h5 class="card-title" style="font-family: roboto; font-decoration: bold; font-size: 23px;">
                        Amigable con el medio ambiente</h5>
                    <br>
                    <p class="card-text" style="font-family: roboto; font-weight: 100; font-size: 17px;"> 
                        Salva arboles y deja de imprimir cartas tradicionales por cada actualización de tus platillos. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<!--  PRICE SECTION  -->
<section class="pricing py-3" id="precios">
  <h1 class="text-center text-white py-3">Elige el plan que se adapte a tus necesidades</h1>
  <h2 class="text-center text-white text-prices" style="font-weight: 100; font-size: 30px;">Puedes actualizar en cualquier momento</h2>
  <br>
  <div class="container">
    <div class="row">
      <!-- Free Tier -->
      <div class="col-lg-3">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Gratis</h5>
            <h6 class="card-price text-center">$0<span class="period">/por siempre</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>1 sucursal</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Registro de hasta 20 platillos</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Codigo QR</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Diseño genérico del menú</li>
              <br>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Oculta platillos cuando lo desees</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Agregar imagenes de tus platos</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Tarjeta con el nombre de tu restaurante y codigo QR lista para imprimir</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Tus clientes podrán ordenar desde su celular (PRÓXIMAMENTE)</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Acceso a herramienta menupBI, herramienta de Bussines Intelligence para analizar tus ventas (PRÓXIMAMENTE)</li>
            </ul>
            <a href="/signup" class="btn btn-block btn-success text-uppercase">Seleccionar</a>
          </div>
        </div>
      </div>
      <!-- Basic Tier -->
      <div class="col-lg-3">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Básico</h5>
            <h6 class="card-price text-center">$79<span class="period">/mes</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>1 sucursal</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Registro de hasta 50 platillos</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Código QR</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Diseño personalizado del menú (portada y logo)</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Ocultar platillos cuando lo desees</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Agregar imagenes de tus platillos</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Tarjeta con el nombre de tu restaurante y codigo QR lista para imprimir</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Tus clientes podrán ordenar desde su celular (PRÓXIMAMENTE)</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Acceso a herramienta menupBI, herramienta de Bussines Intelligence para analizar tus ventas (PRÓXIMAMENTE)</li>
            </ul>
            <a href="/signup" class="btn btn-block btn-success text-uppercase">Seleccionar</a>
          </div>
        </div>
      </div>
      <!-- Advance Tier -->
      <div class="col-lg-3">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Avanzado</h5>
            <h6 class="card-price text-center">$179<span class="period">/mes</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>10 sucursales</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Registro de hasta <strong>100 platillos</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Código QR</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Diseño personalizado del menú (portada y logo)</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Ocultar platillos cuando lo desees</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Agregar imagenes a tus platillos</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Tarjeta con el nombre de tu restaurante y código QR lista para imprimir</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Tus clientes podran ordenar desde su celular (PRÓXIMAMENTE)</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Acceso a herramienta menupBI, herramienta de Bussines Intelligence para analizar tus ventas (PRÓXIMAMENTE)</li>
            </ul>
            <a href="/signup" class="btn btn-block btn-success text-uppercase">Seleccionar</a>
          </div>
        </div>
      </div>
      <!--Other plan-->
      <div class="col-lg-3">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Avanzado</h5>
            <h6 class="card-price text-center">$179<span class="period">/mes</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>10 sucursales</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Registro de hasta <strong>100 platillos</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Código QR</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Diseño personalizado del menú (portada y logo)</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Ocultar platillos cuando lo desees</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Agregar imagenes a tus platillos</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Tarjeta con el nombre de tu restaurante y código QR lista para imprimir</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Tus clientes podran ordenar desde su celular (PRÓXIMAMENTE)</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Acceso a herramienta menupBI, herramienta de Bussines Intelligence para analizar tus ventas (PRÓXIMAMENTE)</li>
            </ul>
            <a href="/signup" class="btn btn-block btn-success text-uppercase">Seleccionar</a>
          </div>
        </div>
      </div>

    </div>
  </div>
  <br>
</section>


<br>
<br>
<br>
