<div class="container my-3"
  style="position: absolute; z-index: 1001; margin: auto; top:0; left:0; right:0; padding-top: 2cm;">
  <div class="row">
    <div class="py-5 my-3 col-md-6 text-center justify-content-center align-self-center">
      <h1 class="display-4" style="color: white;">El men칰 digital que necesitas </h1>
      <p class="header-text-content my-5"
        style="font-family: roboto; font-weight: 100; font-size: 26px; color: rgb(177, 212, 252)">Crea y
        admistra tu men칰 digital de manera sencilla. Tus clientes solo tienen que escanear un c칩digo QR desde su
        celular.
      </p>
      <a href="https://enjooy.herokuapp.com/signup" class="btn btn-success my-2 my-sm-0 mx-1" style="font-size: 20px;">Registrarse</a>

    </div>
    <div class="py-5 col-md-6 imagen_svg">
      <img src="/img/qr_code(3).svg" alt="Imagen" class="iimg-fluid d-none d-sm-block" width="90%">
    </div>
  </div>
</div>
<section>
  <div class="wave"></div>
</section>

<div class="container text-center margin-auto" id="beneficios">
  <br>
  <h1 class="container">Conoce los beneficios de usar <span
      style="color: #0056ff; font-family: 'Comfortaa'">enjooy</span></h1>
</div>
<br>
<br>
<div class="container">
  <div class="card-deck border-white" style="border: none">

    <div class="card container border-white" style="box-shadow: none;">
      <div class="card border-white mb-3 container" style="max-width: 18rem;">
        <div class="card-header bg-transparent border-success"> <svg class="container" width="3em" height="3em"
            viewBox="0 0 16 16" class="bi bi-people-fill" fill="#0366faf1" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
          </svg></div>
        <div class="card-body text-center">
          <h5 class="card-title" style="font-family: roboto; font-decoration: bold; font-size: 23px;">
            Seguridad para tu equipo y tus clientes</h5>
          <br>
          <p class="card-text" style="font-family: roboto; font-weight: 100; font-size: 17px;"> Olv칤date de
            las cartas f칤sicas, ofrece a tus clientes y a tu equipo las mejores condiciones de higiene
            evitando el contacto f칤sico.</p>
        </div>
      </div>
    </div>

    <div class="card container border-white" style="box-shadow: none;">
      <div class="card border-white mb-3 container" style="max-width: 18rem;">
        <div class="card-header bg-transparent border-success"> <svg class="container" width="3em" height="3em"
            viewBox="0 0 16 16" class="bi bi-people-fill" fill="#0366faf1" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M13.5 3h-11a.5.5 0 0 0-.5.5V11h12V3.5a.5.5 0 0 0-.5-.5zm-11-1A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2h-11z" />
            <path d="M0 12h16v.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5V12z" />
          </svg></div>
        <div class="card-body text-center">
          <h5 class="card-title" style="font-family: roboto; font-decoration: bold; font-size: 23px;">
            Tu men칰 siempre actualizado</h5>
          <br>
          <p class="card-text" style="font-family: roboto; font-weight: 100; font-size: 17px;">
            Agrega y elimina platillos cuando lo desees, si se agotan los insumos de un platillo lo puedes
            ocultar para que tus clientes no lo pidan.
          </p>
        </div>
      </div>
    </div>

    <div class="card container border-white" style="box-shadow: none;">
      <div class="card border-white mb-3 container" style="max-width: 18rem;">
        <div class="card-header bg-transparent border-success"> <svg class="container" width="3em" height="3em"
            viewBox="0 0 16 16" class="bi bi-people-fill" fill="#0366faf1" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M8 0a.5.5 0 0 1 .416.223l3 4.5A.5.5 0 0 1 11 5.5h-.098l2.022 3.235a.5.5 0 0 1-.424.765h-.191l1.638 3.276a.5.5 0 0 1-.447.724h-11a.5.5 0 0 1-.447-.724L3.69 9.5H3.5a.5.5 0 0 1-.424-.765L5.098 5.5H5a.5.5 0 0 1-.416-.777l3-4.5A.5.5 0 0 1 8 0z" />
            <path d="M7 13h2v3H7v-3z" />
          </svg></div>
        <div class="card-body text-center">
          <h5 class="card-title" style="font-family: roboto; font-decoration: bold; font-size: 23px;">
            Amigable con el medio ambiente</h5>
          <br>
          <p class="card-text" style="font-family: roboto; font-weight: 100; font-size: 17px;">
            Salva arboles y deja de imprimir cartas tradicionales por cada actualizaci칩n de tus platillos.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>

<!--  PRICE SECTION  -->
<section class="pricing py-3" id="precios">
  <h1 class="text-center text-white py-3">Elige el plan que se adapte a tus necesidades</h1>
  <h2 class="text-center text-white text-prices" style="font-weight: 100; font-size: 30px;">Puedes actualizar en
    cualquier momento</h2>
  <br>
  <div class="container">
    <div class="row">
      <!-- Free Tier -->
      <div class="col-lg-3">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Gratis</h5>
            <h6 class="card-price text-center">$0<span class="period">/mes</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>1 sucursal</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Registro de hasta 10 platillos
              </li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>C칩digo QR sin personalizar</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Oculta platillos cuando lo desees
              </li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Agregar imagenes de tus platos
              </li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Tarjeta con el nombre de tu
                restaurante y c칩digo QR lista para imprimir</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Tus clientes podr치n ordenar
                desde
                su celular (PR칍XIMAMENTE)</li>
            </ul>
            <a href="https://enjooy.herokuapp.com/signup" class="btn btn-block btn-success text-uppercase">Seleccionar</a>
          </div>
        </div>
      </div>
      <!-- Basic Tier -->
      <div class="col-lg-3">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">B치sico</h5>
            <h4 class="pricing-muted-price">$ 119<span style="font-size: 14px;">/mes</span></h4>
            <h6 class="card-price text-center">$99<span class="period">/mes</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>1 sucursal</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Registro de hasta <strong>50 platillos</strong>
              </li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>C칩digo QR personalizado</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Oculta platillos cuando lo desees
              </li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Agregar imagenes de tus platos
              </li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Tarjeta con el nombre de tu
                restaurante y codigo QR lista para imprimir</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Tus clientes podr치n ordenar desde
                su celular (PR칍XIMAMENTE)</li>
            </ul>
            <a href="https://enjooy.herokuapp.com/signup" class="btn btn-block btn-success text-uppercase">Seleccionar</a>
          </div>
        </div>
      </div>
      <!-- Advance Tier -->
      <div class="col-lg-3">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Intermedio</h5>
            <h4 class="pricing-muted-price">$ 339<span style="font-size: 14px;">/mes</span></h4>
            <h6 class="card-price text-center">$259<span class="period">/mes</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>3 sucursales</strong>
              </li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Registro de hasta <strong>70
                  platillos por sucursal</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>C칩digo QR personalizado</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Oculta platillos cuando lo desees
              </li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Agregar imagenes de tus platos
              </li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Tarjeta con el nombre de tu
                restaurante y codigo QR lista para imprimir</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Tus clientes podr치n ordenar desde
                su celular (PR칍XIMAMENTE)
              </li>
            </ul>
            <a href="https://enjooy.herokuapp.com/signup" class="btn btn-block btn-success text-uppercase">Seleccionar</a>
          </div>
        </div>
      </div>
      <!--Other plan-->
      <div class="col-lg-3">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Avanzado</h5>
            <h4 class="pricing-muted-price">$ 999<span style="font-size: 14px;">/mes</span></h4>
            <h6 class="card-price text-center">$879<span class="period">/mes</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>10 sucursales</strong>
              </li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Registro de hasta <strong>100
                  platillos por sucursal</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>C칩digo QR personalizado</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Oculta platillos cuando lo desees
              </li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Agregar imagenes de tus platos
              </li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Tarjeta con el nombre de tu
                restaurante y codigo QR lista para imprimir</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Tus clientes podr치n ordenar desde
                su celular (PR칍XIMAMENTE)</li>
            </ul>
            <a href="https://enjooy.herokuapp.com/signup" class="btn btn-block btn-success text-uppercase">Seleccionar</a>
          </div>
        </div>
      </div>

    </div>
  </div>
  <br>
</section>

<br>
<br>

<div class="bg-contact p-2 mt-5"  id="contact" style="width: 100%; background: -webkit-linear-gradient(left, #0072ff, #00c6ff);">
  <h1 class="text-white text-center mt-3">Cont치ctanos</h1>
  <div class="container contact-form card" >
    <form action="/contact" method="POST">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="Tu nombre" value="" required/>
          </div>
          <div class="form-group">
            <input type="text" name="email" class="form-control" placeholder="Tu correo" value="" required/>
          </div>
          <div class="form-group">
            <input type="text" name="subject" class="form-control" placeholder="Motivo de contacto" value="" required/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <textarea name="message" class="form-control" placeholder="Escribe tu mensaje"
              style="width: 100%; height: 150px;" required></textarea>
          </div>
        </div>
        <div class="form-group" style="width: 200px;">
            <input type="submit" class="btnContact" value="Enviar"/>
          </div>
      </div>
    </form>
  </div>
</div>


<style>
  .box-message {
    position: fixed;
    width: 260px;
    height: 250px;
    right: 20px;
    bottom: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 4px 10px 0 rgba(0, 0, 0, 0.09);
    background-color: #fff;
    border-radius: 20px;
    z-index: 5000;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 1s;
  }

  .circle-active {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #04d331;
    border: 0.5px solid #93b4a1;
  }

  .text-circle-active {
    float: left;
    font-size: 10px;
    margin-left: 3px;
    margin-top: 8px;
  }

  .button-close-message {
    float: right;
    width: 15px;
    height: 15px;
    background-color: rgb(161, 161, 161);
    margin-top: 8px;
    margin-right: 12px;
    border-radius: 50%;
    color: #000;
    font-size: 10px;
    color: #fff;
    border: none;
  }

  .hr-box {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(250, 248, 248, 0.01);
    margin-top: 27px;
  }

  .img-avatar {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .box-hello-message {
    padding: 1px 1px 1px 1px;
    margin-left: auto;
    margin-right: 10px;
    width: 190px;
    height: 150px;
    background-color: rgb(236, 235, 235);
    border-radius: 10px;
    font-size: 13px;
  }

  .text-hello {
    margin-top: 10px;
    margin-left: 10px;
  }

  .input-text {
    float: left;
    padding: 2px 2px 2px 2px;
    font-size: 14px;
    width: 180px;
    border: none;
    border-radius: 10px;
    background-color: rgb(226, 226, 226);
    margin-top: 15px;
    margin-left: 20px;
    outline: none;
  }

  .btn-send {
    float: right;
    width: 30px;
    height: 30px;
    border: none;
    padding-right: 2px;
    color: white;
    font-size: 15px;
    border-radius: 50%;
    background-color: rgb(0, 207, 10);
    margin-top: 12px;
    margin-right: 15px;
    text-align: center;
    outline: none;
  }

  .btn-send:hover {
    background-color: rgb(30, 160, 36);
  }
</style>

<div class="box-message">
  <div class="box-message-header">
    <div class="circle-active"></div>
    <div class="text-circle-active"><span>Activo ahora</span></div>
    <button class="button-close-message">&times;</button>
  </div>
  <hr class="hr-box">
  <div class="img-avatar">
    <img src="https://pbs.twimg.com/profile_images/1191584517749764096/cBj9gg7i_400x400.jpg" alt="" width="100%">
  </div>
  <div class="box-hello-message">
    <div class="text-hello">
      <span>Hola 游녦, soy Jahziel Cabrera, CEO de Enjooy.
        쯊ienes preguntas acerca de nuestros productos? Escr칤beme un mensaje, estoy aqu칤 para ayudarte!
      </span>
    </div>
  </div>
  <div class="input-message">
    <input type="text" class="input-text" placeholder="   Escribe tu mensaje">
    <button type="submit" class="btn-send"><i class="fas fa-paper-plane"></i></button>
  </div>
</div>


<a href="https://api.whatsapp.com/send?phone=+522281495452&text=Hola 游녦! Quiero recibir mas informaci칩n sobre sus productos"
  class="float-whatsapp" target="_blank">
  <i class="fab fa-whatsapp my-float"></i>
</a>

<script>
  const box = document.querySelector(".box-message");
  box.style.display = 'none';
  setTimeout(() => {
    box.style.display = ''
  }, 2000)

  const btnSend = document.querySelector(".btn-send");
  const btnClose = document.querySelector(".button-close-message");
  const inputMessage = document.querySelector('.input-text');
  btnSend.style.display = 'none';

  console.log(btnClose);
  btnClose.addEventListener("click", function () { box.style.display = 'none' });

  inputMessage.addEventListener('keyup', function () {
    if (inputMessage.value.length > 0) {
      btnSend.style.display = '';
    }
  })

  btnSend.addEventListener('click', function () {
    window.location.href = `https://api.whatsapp.com/send?phone=+522281495452&text=${inputMessage.value}`
  })

</script>