


<footer class="page-footer font-small bg-blue pt-4" style="background-color: #0062E6;">
    <div class="container-fluid text-center text-md-left">
        <div class="row">

            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-white text-shadow" ><img src="https://res.cloudinary.com/djxxgphqp/image/upload/v1600050147/logos/LogoMakr_0TPorQ_l99yan.png" alt="" height="70px"></h5>
                <p class="text-shadow description--aboutus--footer" style="font-family: 'Roboto'; color: white; font-size: 16px;">Desarrollamos herramientas tecnológicas para restaurantes. Pensando siempre en el cliente, la utilidad y la innovación. </p>
            </div>

            <hr class="clearfix w-100 d-md-none pb-3">

            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-white text-shadow">Contactános</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!" class="text-white text-shadow mb-2">Soporte al cliente</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white text-shadow mb-2">Informar un problema</a>
                    </li>
                    <li>
                        <a href="#!"></a>
                    </li>
                    <li>
                        <a href="#!" class="text-white text-shadow mb-2">Servicio a grandes cadenas</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-white text-shadow">Conecta con enjooy</h5>
                <ul class="list-unstyled" style="font-size: 20px; color: white">
                    <li>
                        <a href="#!"><i class="fab fa-facebook-f text-white text-shadow icon--hover"></i></a>
                    </li>
                    <li>
                        <a href="#!"><i class="fab fa-instagram text-white text-shadow icon--hover"></i></a>
                    </li>
                    <li>
                        <a href="#!"><i class="fab fa-twitter text-white text-shadow icon--hover"></i></a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>

    <div class="container text-center text-shadow" style="color: white; font-size: 16px;">
        Desarrollado con ❤️ desde 🇲🇽
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright 
        <a href="" style="color: rgb(129, 155, 160);"> www.enjooy.com</a>
    </div>
    <!-- Copyright -->

</footer>