<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center"
    style="font-size: 17px; z-index: 1002;">
    <div class="container my-2">
        <a class="navbar-brand" href="/"><img src="https://res.cloudinary.com/djxxgphqp/image/upload/v1600046215/logos/LogoMakr_6S5FEW_y2aatz.png" alt="logo" style="width: 170px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                {{#if user}}
                <a class="nav-link" href="/admin">Sucursales   </a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-cog"></i> Ajustes
                    </a>
                    <div class="dropdown-menu" style="box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);" aria-labelledby="navbarDropdown">
                        <span class="dropdown-item"><strong>¡Hola {{#each user}}{{this.name}}{{/each}}!</strong></span>
                        <span class="dropdown-item text-muted text-uppercase" style="font-size: 14px;">{{#each user}}{{this.account}}{{/each}}</span>
                        <a class="dropdown-item" style="color: rgb(8, 90, 243);" href="/admin">Ver sucursales</a>
                        <hr class="m-auto" style="width: 85%;">
                        <div class="mt-2 mb-3">
                            <a class="dropdown-item" href="/sucursal/new"></a>
                            <a class="dropdown-item" href="/config">Configuración</a>
                            <a class="dropdown-item" href="/subscriptions/my-subscription">Suscripción</a>
                        </div>
                        <hr class="m-auto" style="width: 85%;">
                        <a class="dropdown-item" href="/logout" style="color: rgb(226, 46, 46)">Cerrar sesión <i class="fas fa-sign-out-alt"></i> </a>
                    </div>
                </li>
                
                {{else}}
                <a class="nav-link" href="https://enjooy.herokuapp.com/">Inicio</a>
                <a class="nav-link" href="https://enjooy.herokuapp.com/#beneficios">Beneficios</a>
                <a class="nav-link" href="https://enjooy.herokuapp.com/#precios">Precios</a>
                <a class="nav-link" href="/#contact">Contáctanos</a>
                <a href="https://enjooy.herokuapp.com/signin" class="btn btn-outline-primary my-2 my-sm-0 mx-1" style="font-size: 17px;">Iniciar
                    Sesión</a>
                <a href="https://enjooy.herokuapp.com/signup" class="btn btn-outline-success my-2 my-sm-0 mx-1" style="font-size: 17px;">Registrarse</a>
                {{/if}}
            </div>
        </div>
    </div>
</nav>