<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<style>
    body {
        font-family: 'Roboto', sans-serif;
    }

    h2 {
        font-size: 3rem;
        text-align: center;
    }

    a {
        margin-top: 2rem;
        text-align: center;
        display: block;
        padding: 1.5rem 0;
        color: rgb(255, 255, 255);
        background-color: rgb(74, 105, 243);
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
    }

    p {
        line-height: 2;
    }
</style>

<body>
    <h2>Reestablecer contraseña</h2>

    <p>Hola {{name}}, has solicitado reestablecer la contraseña de tu cuenta. Por favor haz click en el siguiente
        enlace.
        Este enlace es temporal, vence en 1 hr. Si se vence puedes volver a generarlo.
        <a href="{{resetUrl}}">Cambiar contraseña</a>
    </p>

    <p>
        Si no puedes accerder al enlace, visita: {{resetUrl}}
    </p>

    <p>
        Si tú no solicitaste este enlace. puedes ignorarlo.
    </p>

</body>

</html>