<style>
    body {
        background: #007bff;
        background: linear-gradient(to right, #20d1e9, #0661c9);
        color: white;
        
    }

    .text-title {
        font-weight: 100;
    }
</style>
<br>
<br>
<h2 class="text-center container py-5 text-title">Hola {{user_password.name}}, reestablece la contraseña de tu cuenta</h2>

<form action="/restorepassword/{{user_password.token.token}}" class="register-form container" style="width: 70%;" method="POST">
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationServer01">Ingresa tu nueva contraseña</label>
                <input type="password" name="password" class="form-control " id="validationServer01"
                    placeholder="Contraseña" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationServer02">Confirma tu nueva contraseña</label>
                <input type="password" name="confirm_password" class="form-control " id="validationServer02"
                    placeholder="Confirmar contraseña" required>
            </div>
        </div>
        <button class="btn btn-success" type="submit">Actualizar contraseña</button>
</form>