<style>
    body {
        background: #007bff;
        background: linear-gradient(to right, #04bcd4, #1680f8);
        color: white;
    }
</style>

<h1 class="text-center container py-5">Reestablece tu contraseña</h1>
<form action="/restorepassword" class="container label-resetpassword" method="POST">
    <div class="form-group ">
        <label class="py-2">Ingresa la dirección de correo electrónico asociada a tu cuenta, te enviaremos un enlace para reestablecer tu contraseña.</label>
        <h6 class="py-2">Ingresa tu correo</h6>
        <input name="email" type="email" class="form-control input-signin" placeholder="tuemail@service.com" autofocus required>
        <div class="py-2">
            <a href="/signin" class="text-resetpassword">Volver a inicio de sesión</a>
        </div>
    </div>
    <button type="submit" class="btn btn-success">Continuar</button>
</form>