<style>
    body {
        background: #007bff;
        background: linear-gradient(to right, #04bcd4, #1680f8);
        color: white;
    }
    .signin-form{
      width: 50%;
    }
    @media (max-width: 500px) {
    .signin-form{
      width: 80%;
    }
    .text-signin{
      font-size: 40px;
    }
  }
</style>
<h1 class="container text-center py-4 text-signin">Ingresa a tu cuenta de enjooy</h1>

<form action="/signin" class="signin-form container" method="POST"> 
  <div class="alert alert-danger container form-group mb-4 text-center" role="alert">
    For testing you can use the following credentials <br>
    email: <strong>test@emailprovider.com</strong> <br>
    password: <strong>12345678</strong>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Ingresa tu email</label>
    <input name="email" type="email" class="form-control input-signin" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="tuemail@service.com" autofocus required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Ingresa tu contraseña</label>
    <input name="password" type="password" class="form-control input-signin" id="exampleInputPassword1" required>
    <br>
    <a href="/restorepassword" class="text-resetpassword">¿Olvidaste tu contraseña?</a>
    <a href="/signup" class="mx-5 text-resetpassword">¿Aún no tienes cuenta? Regístrate gratis</a>
  </div>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>

